<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nyf.test.mapper.RoleResourceMapper" >
  <resultMap id="BaseResultMap" type="com.nyf.test.model.RoleResource" >
    <id column="id" property="id" jdbcType="TINYINT" />
    <result column="role_id" property="roleId" jdbcType="TINYINT" />
    <result column="resource_id" property="resourceId" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, role_id, resource_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Byte" >
    select 
    <include refid="Base_Column_List" />
    from t_role_resource
    where id = #{id,jdbcType=TINYINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Byte" >
    delete from t_role_resource
    where id = #{id,jdbcType=TINYINT}
  </delete>
  <insert id="insert" parameterType="com.nyf.test.model.RoleResource" >
    insert into t_role_resource (id, role_id, resource_id
      )
    values (#{id,jdbcType=TINYINT}, #{roleId,jdbcType=TINYINT}, #{resourceId,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.nyf.test.model.RoleResource" >
    insert into t_role_resource
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="resourceId != null" >
        resource_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=TINYINT},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=TINYINT},
      </if>
      <if test="resourceId != null" >
        #{resourceId,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.nyf.test.model.RoleResource" >
    update t_role_resource
    <set >
      <if test="roleId != null" >
        role_id = #{roleId,jdbcType=TINYINT},
      </if>
      <if test="resourceId != null" >
        resource_id = #{resourceId,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=TINYINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nyf.test.model.RoleResource" >
    update t_role_resource
    set role_id = #{roleId,jdbcType=TINYINT},
      resource_id = #{resourceId,jdbcType=TINYINT}
    where id = #{id,jdbcType=TINYINT}
  </update>
</mapper>